@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './slick-carousel.css';
@import './v-tooltip.css';

@font-face {
  font-family: Teko;
  src: url('../fonts/Teko-Regular.ttf') format('truetype');
}

body {
  font-family: 'Teko';
}
